<h1>Information User</h1>
<hr>

<div class="row">
  <div class="col-4">
    <h3>Current user: {{userId()}}</h3>

    <button (click)="loadUser(userId() - 1)" class="btn btn-primary">Previus</button> &nbsp;
    <button (click)="loadUser(userId() + 1)" class="btn btn-primary">Next</button>
  </div>
  <div class="col-8" *ngIf="currentUser()">
    <h3>User: </h3>
    <p>Email: {{this.currentUser()?.email}}</p>
    <p>Name: {{fullName()}}</p>

    <img [src]="this.currentUser()?.avatar" alt="Avatar" class="rounded">
  </div>
  <div class="col-8 text-danger" *ngIf="!userWasFound()">
    <h5>User not found.</h5>
  </div>
</div>
